@import "http://fonts.googleapis.com/css?family=Raleway";

html, body {
    background-color: #ff8a00;
    background-image: linear-gradient(0deg,#e52e71,#ff8a00);

    font-family: 'Raleway', sans-serif;
    color: #fff;
}

body {
    width: 450px;
    height: 300px;
}

p {
    padding: 2%;
}

textarea {
    width: 96%;
    font-family: 'Raleway', sans-serif;
    padding: 2%;
    margin-top: 2%;
}

button {
    font-weight: bold;
    padding: 2%;
    border-radius: 8px;
    color: #fff ;
    border: 0;
    background-color: #100e17;
    cursor: pointer;
    margin-top: 2%;
}

#noedit.visible {
    display: inline;
}

.noselection, .withselection, .success, .error, #noedit {
    display: none;
}

.start .noselection {
    display: block;
}

.selectionMade .withselection {
    display: block;
}

.submitSuccess .success {
    display: block;
}

.submitError .error {
    display: block;
}